.h1 {
    text-align: center;
    background-color: cadetblue;
    color: white;
}
.p {
    background-color: aquamarine;
    text-align: justify;
    color: black;
}
#id-selector-h2{
    background-color: red;
    color: white;
    text-align: center;
}
body{
    background-image: url("../img/forest.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}